@model Wedding_Planner.Models.Wrapper
<br>
<a href="http://localhost:5000/planner"><button class="btn btn-default">Go To Your Agenda</button></a>
<br>    
<h1>The Wedding Page</h1>
<hr>
<h2>Welcome, @ViewBag.User</h2>
@{
    foreach(var plan in Model.Planning)
    {
      <p>@plan.wedderone & @plan.weddertwo Wedding</p>  
    }
    
}
<p>Wedding Date: @ViewBag.EventDate</p>

<hr>
<h3>People Who RSVP</h3>

@foreach (var guest in @ViewBag.allGoers) {
  @foreach (var item in @Model.RSVP) {
    if(@ViewBag.planid == @item.Planningid){
      <span>@item.Guest.firstname</span><br>
    }
  }
  
} 
<br>

@foreach (var guest in @ViewBag.allGoers) {
  @foreach (var item in @Model.RSVP) {
    if(@ViewBag.id != @guest.User.UserId){
      <form class="form-horizontal" action="" method="post">
      <input type="hidden" name="Userid" value="@ViewBag.id">
      <input type="hidden" name="Planningid" value="@ViewBag.planid">
      <button type="submit" name="RSVP" class="btn btn-primary">RSVP</button>
      </form>
      break;
    }
  }
  
} 





